<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Linked</key>
	<array/>
	<key>Manifest</key>
	<dict/>
	<key>Personalized</key>
	<array/>
	<key>Updaters</key>
	<dict>
		<key>Cryptex1</key>
		<dict>
			<key>BuildIdentityTags</key>
			<array>
				<string>ApSecurityDomain</string>
				<string>Cryptex1,ChipID</string>
				<string>Cryptex1,Type</string>
				<string>Cryptex1,SubType</string>
				<string>Cryptex1,ProductClass</string>
				<string>Cryptex1,UseProductClass</string>
				<string>Cryptex1,NonceDomain</string>
				<string>Cryptex1,LiveNonceDomain</string>
				<string>Cryptex1,ExclaveNonceDomain</string>
				<string>Cryptex1,ExclaveLiveNonceDomain</string>
				<string>Cryptex1,Version</string>
				<string>Cryptex1,PreauthorizationVersion</string>
				<string>Cryptex1,FakeRoot</string>
				<string>UniqueBuildID</string>
				<string>Cryptex1,DataOnly</string>
				<string>Cryptex1,SystemOS</string>
				<string>Cryptex1,SystemVolume</string>
				<string>Cryptex1,SystemTrustCache</string>
				<string>Cryptex1,AppOS</string>
				<string>Cryptex1,AppVolume</string>
				<string>Cryptex1,AppTrustCache</string>
				<string>Cryptex1,MobileAssetBrainOS</string>
				<string>Cryptex1,MobileAssetBrainVolume</string>
				<string>Cryptex1,MobileAssetBrainTrustCache</string>
				<string>Cryptex1,CryptexInfoPlist</string>
				<string>Cryptex1,GenericDmg</string>
				<string>Cryptex1,GenericTrustCache</string>
				<string>Cryptex1,GenericVolume</string>
				<string>Cryptex1,GenericIntegrityCatalog</string>
			</array>
			<key>RequestTags</key>
			<dict>
				<key>@Cryptex1,Ticket</key>
				<true/>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Cryptex1,BootUUID</key>
				<data>
				tDD4NkTESY6Q+2EJZStZ7w==
				</data>
				<key>Cryptex1,ChipID</key>
				<string>0xFF10</string>
				<key>Cryptex1,CryptexInfoPlist</key>
				<dict>
					<key>Digest</key>
					<data>
					4qxFFxInhnxkNtlSeo6J9WctF/Hr5hvd60tj
					HK3hYvaOppx5IJkKIMj0oj0Zo1CG
					</data>
				</dict>
				<key>Cryptex1,ExclaveLiveNonce</key>
				<data>
				EsynSkTFx6+2lhsPAVEqntutUS/n0XEHFBRlTzuBMlOO
				JG/RYPMe33iOu5RF/Rp4
				</data>
				<key>Cryptex1,ExclaveLiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,ExclaveNonce</key>
				<data>
				iZCn3GZgMAYVAOpTcfkqrv1CcG2As13oiyUqkpRYKnEZ
				OttskFjE5OjVHo7FrdS0
				</data>
				<key>Cryptex1,ExclaveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,GenericDmg</key>
				<dict>
					<key>Digest</key>
					<data>
					3kbsMi+75FPLnD9rESkm9oBZKrIX+FfsJOh3
					DIQItkqP0DlrDXy+RCizX08Ij5OT
					</data>
				</dict>
				<key>Cryptex1,GenericIntegrityCatalog</key>
				<dict>
					<key>Digest</key>
					<data>
					fsKCuxExY8i/aXi+hkASAeE25HUr4FFN/S/n
					WcUVBlYABTpS8Mzy+lI1w+6XXsaB
					</data>
				</dict>
				<key>Cryptex1,GenericTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					4LAnXsujKjOqHcloOIRQAFn6HMDncHaurGPb
					5IE6AxcENw7Nw1fmGzV+jlE3zQlp
					</data>
				</dict>
				<key>Cryptex1,GenericVolume</key>
				<dict>
					<key>Digest</key>
					<data>
					K+IQq55Sa6wVvZw1gkDd1TtC7cu7GTAPdeCe
					W3BUTOrJRyMQI6Y4xFjMWk80REcR
					</data>
				</dict>
				<key>Cryptex1,LiveNonce</key>
				<data>
				JsQAyOHUIg2+5AL3ReNuKHpAs4MjHhzVNld8uTxRGsPh
				D9PPxkYuo1aCbHf3b96N
				</data>
				<key>Cryptex1,LiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,Nonce</key>
				<data>
				iZCn3GZgMAYVAOpTcfkqrv1CcG2As13oiyUqkpRYKnEZ
				OttskFjE5OjVHo7FrdS0
				</data>
				<key>Cryptex1,NonceDomain</key>
				<integer>5</integer>
				<key>Cryptex1,PreauthorizationVersion</key>
				<string>13.13.070.3.0,120</string>
				<key>Cryptex1,ProductClass</key>
				<string>0xF1</string>
				<key>Cryptex1,ProductionMode</key>
				<true/>
				<key>Cryptex1,SubType</key>
				<integer>1</integer>
				<key>Cryptex1,Type</key>
				<integer>4</integer>
				<key>Cryptex1,UDID</key>
				<data>
				AAAAAAAAgQMADiQyAeNAHg==
				</data>
				<key>Cryptex1,UseProductClass</key>
				<true/>
				<key>Cryptex1,Version</key>
				<string>13.13.070.3.0,120</string>
				<key>UniqueBuildID</key>
				<data>
				/1zIlEOiufxBLACGoCCgGGPGslA=
				</data>
			</dict>
			<key>ResponseTags</key>
			<array>
				<string>Cryptex1,Ticket</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
