<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Linked</key>
	<array/>
	<key>Manifest</key>
	<dict/>
	<key>Personalized</key>
	<array/>
	<key>Updaters</key>
	<dict>
		<key>Cryptex1</key>
		<dict>
			<key>BuildIdentityTags</key>
			<array>
				<string>ApSecurityDomain</string>
				<string>Cryptex1,ChipID</string>
				<string>Cryptex1,Type</string>
				<string>Cryptex1,SubType</string>
				<string>Cryptex1,ProductClass</string>
				<string>Cryptex1,UseProductClass</string>
				<string>Cryptex1,NonceDomain</string>
				<string>Cryptex1,LiveNonceDomain</string>
				<string>Cryptex1,ExclaveNonceDomain</string>
				<string>Cryptex1,ExclaveLiveNonceDomain</string>
				<string>Cryptex1,Version</string>
				<string>Cryptex1,PreauthorizationVersion</string>
				<string>Cryptex1,FakeRoot</string>
				<string>UniqueBuildID</string>
				<string>Cryptex1,DataOnly</string>
				<string>Cryptex1,SystemOS</string>
				<string>Cryptex1,SystemVolume</string>
				<string>Cryptex1,SystemTrustCache</string>
				<string>Cryptex1,AppOS</string>
				<string>Cryptex1,AppVolume</string>
				<string>Cryptex1,AppTrustCache</string>
				<string>Cryptex1,MobileAssetBrainOS</string>
				<string>Cryptex1,MobileAssetBrainVolume</string>
				<string>Cryptex1,MobileAssetBrainTrustCache</string>
				<string>Cryptex1,CryptexInfoPlist</string>
				<string>Cryptex1,GenericDmg</string>
				<string>Cryptex1,GenericTrustCache</string>
				<string>Cryptex1,GenericVolume</string>
				<string>Cryptex1,GenericIntegrityCatalog</string>
			</array>
			<key>RequestTags</key>
			<dict>
				<key>@Cryptex1,Ticket</key>
				<true/>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Cryptex1,BootUUID</key>
				<data>
				OS44Ivd8TnOIvozGrnn/0A==
				</data>
				<key>Cryptex1,ChipID</key>
				<string>0xFF10</string>
				<key>Cryptex1,CryptexInfoPlist</key>
				<dict>
					<key>Digest</key>
					<data>
					QJ2FqRtN5CZGYGxFQIV9WpUtkjSFI4RsGtsM
					C39gP477Xl53siB9yJCBmMx6nkHh
					</data>
				</dict>
				<key>Cryptex1,ExclaveLiveNonce</key>
				<data>
				mRufPBHJSoq4bYg0kc282ZuC33PAQfLZRICVqP1cGeIQ
				bL5HFnjzLHCnsWnL8KaY
				</data>
				<key>Cryptex1,ExclaveLiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,ExclaveNonce</key>
				<data>
				wPTewCfyTQNH/SFg3WpEDDxesEQvOumAMDSZs68jSVeI
				rgp55agBVACtmf1X5vyw
				</data>
				<key>Cryptex1,ExclaveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,GenericDmg</key>
				<dict>
					<key>Digest</key>
					<data>
					TE29M9zEtVS1KRyMt6tVSxevuCku4tnMZ/9J
					4ZB6iHvKWeqWTcjttQhlrjQig15u
					</data>
				</dict>
				<key>Cryptex1,GenericIntegrityCatalog</key>
				<dict>
					<key>Digest</key>
					<data>
					GstJkJoMGgrRo6qasv/jv+c435tZv6GP9B6Y
					UWgxpZ6CZZAvK9zEXlocewFMuTgk
					</data>
				</dict>
				<key>Cryptex1,GenericTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					XgAbynpTbuyqyQxWvULf3OnSY6KHDkv7WlX9
					wCOxry6SzkgI9Dqi5Ziv9geXVZin
					</data>
				</dict>
				<key>Cryptex1,GenericVolume</key>
				<dict>
					<key>Digest</key>
					<data>
					glO+TPJr1FuHVPlQF5f/Qmf0/yqqwSKXo/Wv
					fgTHwXBp3LWSzAxktemTjbKeoiM3
					</data>
				</dict>
				<key>Cryptex1,LiveNonce</key>
				<data>
				84mHdN3Z4tqTLV9B+HWkSRI/ynWZqkUR248nY650SFgd
				1RUaTteZ2vSl2SXLmxug
				</data>
				<key>Cryptex1,LiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,Nonce</key>
				<data>
				wPTewCfyTQNH/SFg3WpEDDxesEQvOumAMDSZs68jSVeI
				rgp55agBVACtmf1X5vyw
				</data>
				<key>Cryptex1,NonceDomain</key>
				<integer>5</integer>
				<key>Cryptex1,PreauthorizationVersion</key>
				<string>13.13.039.3.0,120</string>
				<key>Cryptex1,ProductClass</key>
				<string>0xF1</string>
				<key>Cryptex1,ProductionMode</key>
				<true/>
				<key>Cryptex1,SubType</key>
				<integer>1</integer>
				<key>Cryptex1,Type</key>
				<integer>4</integer>
				<key>Cryptex1,UDID</key>
				<data>
				AAAAAAAAgQMADiQyAeNAHg==
				</data>
				<key>Cryptex1,UseProductClass</key>
				<true/>
				<key>Cryptex1,Version</key>
				<string>13.13.039.3.0,120</string>
				<key>UniqueBuildID</key>
				<data>
				/PHk1EDdoHAfQYvtwFSRBFcSMM4=
				</data>
			</dict>
			<key>ResponseTags</key>
			<array>
				<string>Cryptex1,Ticket</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
