<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassetiosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassetmacosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassettvosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassetvisionosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassetwatchosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>mobileassetx86macosap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>13M200703</string>
	<key>ProductVersion</key>
	<string></string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>1099494915856</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>1099494915856</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>iSim1,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict/>
</dict>
</plist>
