<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Linked</key>
	<array/>
	<key>Manifest</key>
	<dict/>
	<key>Personalized</key>
	<array/>
	<key>Updaters</key>
	<dict>
		<key>Cryptex1</key>
		<dict>
			<key>BuildIdentityTags</key>
			<array>
				<string>ApSecurityDomain</string>
				<string>Cryptex1,ChipID</string>
				<string>Cryptex1,Type</string>
				<string>Cryptex1,SubType</string>
				<string>Cryptex1,ProductClass</string>
				<string>Cryptex1,UseProductClass</string>
				<string>Cryptex1,NonceDomain</string>
				<string>Cryptex1,LiveNonceDomain</string>
				<string>Cryptex1,ExclaveNonceDomain</string>
				<string>Cryptex1,ExclaveLiveNonceDomain</string>
				<string>Cryptex1,Version</string>
				<string>Cryptex1,PreauthorizationVersion</string>
				<string>Cryptex1,FakeRoot</string>
				<string>UniqueBuildID</string>
				<string>Cryptex1,DataOnly</string>
				<string>Cryptex1,SystemOS</string>
				<string>Cryptex1,SystemVolume</string>
				<string>Cryptex1,SystemTrustCache</string>
				<string>Cryptex1,AppOS</string>
				<string>Cryptex1,AppVolume</string>
				<string>Cryptex1,AppTrustCache</string>
				<string>Cryptex1,MobileAssetBrainOS</string>
				<string>Cryptex1,MobileAssetBrainVolume</string>
				<string>Cryptex1,MobileAssetBrainTrustCache</string>
				<string>Cryptex1,CryptexInfoPlist</string>
				<string>Cryptex1,GenericDmg</string>
				<string>Cryptex1,GenericTrustCache</string>
				<string>Cryptex1,GenericVolume</string>
				<string>Cryptex1,GenericIntegrityCatalog</string>
			</array>
			<key>RequestTags</key>
			<dict>
				<key>@Cryptex1,Ticket</key>
				<true/>
				<key>ApSecurityDomain</key>
				<string>0x01</string>
				<key>Cryptex1,BootUUID</key>
				<data>
				M0NqoQuBRj61T9gt4J+T9g==
				</data>
				<key>Cryptex1,ChipID</key>
				<string>0xFF10</string>
				<key>Cryptex1,CryptexInfoPlist</key>
				<dict>
					<key>Digest</key>
					<data>
					XPLDroBoJ28KFldUdOMMM0z+LdUEIdZKhKAP
					nM+aEiJi5A8VUbCB/LGHwqSlVojZ
					</data>
				</dict>
				<key>Cryptex1,ExclaveLiveNonce</key>
				<data>
				jY0QdZeISs3CyscgshBUFfO1/3JgPm0jhz2Dm+Gvas4L
				BEXTG1RzdMHrsFrm4FWQ
				</data>
				<key>Cryptex1,ExclaveLiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,ExclaveNonce</key>
				<data>
				Jb8hZnvqpRhzQihHHXza8PGoTZGr78APxEzKb1Kmut1a
				TUrGAsfWkWTx21Yeu5Q6
				</data>
				<key>Cryptex1,ExclaveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,GenericDmg</key>
				<dict>
					<key>Digest</key>
					<data>
					xqU7Ocyt6tQnDLZGFQKksvyzYC4HWgeg+J5V
					eMnOaPMcJWPr+yBN2wXFui7L6Thq
					</data>
				</dict>
				<key>Cryptex1,GenericIntegrityCatalog</key>
				<dict>
					<key>Digest</key>
					<data>
					7rUFOy6TWNEAAnoXAKpPQ+s8jzMcdLv3OTs4
					TJN4axYccln3Mh02P6dCXiefFaFg
					</data>
				</dict>
				<key>Cryptex1,GenericTrustCache</key>
				<dict>
					<key>Digest</key>
					<data>
					ArT8Y4UmfXBHJ8Bu16Gl08r2c1bm5AnvGdXp
					jPsH/IHVvN0bxFRdbl2rLkwJsgXi
					</data>
				</dict>
				<key>Cryptex1,GenericVolume</key>
				<dict>
					<key>Digest</key>
					<data>
					Ghv6lUUkpWFNhEOojBi+ueY/+kCdGhq5DDD3
					DlLm1P4Mf4vusVJrlQC3TM8uDlpe
					</data>
				</dict>
				<key>Cryptex1,LiveNonce</key>
				<data>
				6h74gCwG5eILw80icbVmzzlOAMzUo7HLaUzpPeAE0gTh
				chCIvuyo+Nn7gDkO13ew
				</data>
				<key>Cryptex1,LiveNonceDomain</key>
				<integer>0</integer>
				<key>Cryptex1,Nonce</key>
				<data>
				Jb8hZnvqpRhzQihHHXza8PGoTZGr78APxEzKb1Kmut1a
				TUrGAsfWkWTx21Yeu5Q6
				</data>
				<key>Cryptex1,NonceDomain</key>
				<integer>5</integer>
				<key>Cryptex1,PreauthorizationVersion</key>
				<string>13.13.024.5.0,120</string>
				<key>Cryptex1,ProductClass</key>
				<string>0xF1</string>
				<key>Cryptex1,ProductionMode</key>
				<true/>
				<key>Cryptex1,SubType</key>
				<integer>1</integer>
				<key>Cryptex1,Type</key>
				<integer>4</integer>
				<key>Cryptex1,UDID</key>
				<data>
				AAAAAAAAgQMADiQyAeNAHg==
				</data>
				<key>Cryptex1,UseProductClass</key>
				<true/>
				<key>Cryptex1,Version</key>
				<string>13.13.024.5.0,120</string>
				<key>UniqueBuildID</key>
				<data>
				6Rc+R4WxE9ZS2lMCIqkJRneFogY=
				</data>
			</dict>
			<key>ResponseTags</key>
			<array>
				<string>Cryptex1,Ticket</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
